:root{
  --primary-orange: #f58223;
  --primary-redBold: #d01002;
  --white: #fff;
  --light: #eeeded;
  --orange: #FFA16C;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

html {
    line-height: 1.6;
    font-family:"Roboto", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* header  */
/* header top  */
.header{
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
}

.header-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  line-height: 22.4px;
  margin: 0px 44px;
  padding: 0px 15px;
}


.header-top{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
  line-height: 20px;
  align-items: center;
}
.header-logo_img{
  position: relative;
  height: auto;
  max-width: 110px;
}
.header-contact_item{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}


.header-contact_item-info a{
  text-decoration: none;
  color: var(--primary-orange);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  
}

.header-contact_item-icon i{
  color: var(--primary-redBold);
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  width: 20px;
  margin-left: 5px;
}
/* header bottom  */
.header-bottom{
  position: relative;
  background-color: #ffffff;
  line-height: 22.4px;
  padding: 10px;
  text-align: left;
  margin-top: 4px;
}
.header-bottom_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav_list{
  display: flex;

}
.header-nav_items:nth-child(1){
  list-style: none;
  margin-left: 14px;
}
.header-nav_items:nth-child(2),.header-nav_items:nth-child(3),
.header-nav_items:nth-child(4),.header-nav_items:nth-child(5),.header-nav_items:nth-child(6){
  list-style: none;
  margin-left: 34px;
}

.header-nav_items:nth-child(6){
  color: #f58223;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  font-family: Roboto;
  cursor: pointer;
}
.header-nav_items a{
  text-decoration: none;
  color: #f58223;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  padding: 13px 0px;
  text-align: left;
}


.scroll-hidden {
  display: none;
}
.scroll-sticky{
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
  transition: 0.15s ease-out;
}


.scroll-header{
  position: fixed;
  height: 90px;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  transition: 0.2s ease-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--primary-orange);
  position: fixed; /*dòng này ý nghĩa là do đường line nó chạy theo phần tử nên phải set như v*/
  pointer-events: none;
  transition: all 0.25s linear;
}




/* outstanding  */
.outstanding{
    padding: 100px 0px;
    background: url("//theme.hstatic.net/200000492415/1000859563/14/bgourclass.jpg?v=637") no-repeat;
    background-size: cover;
}
.outstanding-heading{
    
    position: relative;
    /* margin: 0 auto; */
}
.outstanding-heading__title{
    color: white;
    font-size: 1.5rem;
    /* position:absolute; */
    text-align: center;
    /* line-height: 5rem; */ 
}
.outstanding-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #fff;
  width: 4rem;
  height: 0px!important;
  margin-top: 1rem;
}

.outstanding-list{
  display: flex;
  margin: 1rem 0px;
  justify-content: space-around;
  padding: 0px 3rem;
}
.outstanding-item{
  flex-basis: 22.5%;
  border-radius: 8px;
  overflow: hidden;
}
.outstanding-item__title{
  padding: 20px 0px;
  text-align: center;
}
.outstanding-item__title-color1{
  background: #CBF400;
}
.outstanding-item__title-color2{
  background: #21F2D9;
}
.outstanding-item__title-color3{
  background: #a025ed;
}
.outstanding-item__title-color4{
  background: #d8006b;
}
.oustanding-item__title-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}


/* experience */
.experience{
  padding: 20px 0px;
}
.experience-heading{
  margin-top: 1rem;
}
.experience-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #F58223;
  width: 4rem;
  height: 0px!important;
  margin-top: 1rem;
}
.experience-heading__title{
  font-weight: 300;
  font-size: 3rem;
  color: #417505;
  text-align: center;
}

.experience-list{
  margin-top: 2rem;
  padding: 0px 2.5rem;
  display: flex;
  justify-content: space-around;
}
.experience-item{
  background: #fff;
  padding: 51px 84px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
  flex-basis: 22.5%;
}

.experience-item__title{
  font-size: 24px;
  font-weight: 600;
  color: #417505;
  padding-top: 43px;
  text-align: center;
}



 

/* @keyframes scaleimg {
  from{
    transform: scale(1);
    transform: rotate(0deg);
  }
  to{
    transform: scale(0);
    transform: rotate(360deg);
  }
} */
.experience-item__img:hover{
  transition: 0.4s ease-out;
  transform: rotate(1turn);
}
.experience-item:hover{
  background-color: #fd7e14;
}

/* .experience-item:hover,.experience-item__title:hover{
  background-color: #fd7e14;
  color: white;
} */


/* modal giỏ hàng  */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  display: none;
}
.modal-active{
  display: block;
}
.modal-container{
  width: 1200px;
  border:1px solid var(--white);
  background-color: white;
  max-width: 100%;
  margin:50px auto 0;
  display: grid;
  grid-template-columns: auto 300px;
  padding:20px;
  border-radius: 30px;
  min-height: 80vh;
}

.modal-container .cart{
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.modal-container .center{
  background-color: var(--light);
  border-right: 1px solid var(--light);
}

.modal-center .search{
  background-color: white;
  padding:20px;
  height:40px;
  
}
.modal-center .search .form{
  width: max-content;
  border:1px solid var(--light);
  border-radius: 20px;
  padding-left:15px;
  color:var(--light);
}
.modal-center .search .form input{
  border:none;
  padding:0 10px;
  outline: none;
  width:100px;
  
}
.modal-center .search .form button{
 border:none;
 background-color: var(--orange);
 color: var(--light);
 padding:10px 20px;
 border-radius: 20px;
 cursor: pointer;
}

/* end form */

/* cart  */
.modal-center h2{
  margin-top: 30px;
  padding: 20px;
  font-family: Roboto;
  color: var(--orange);
}
.modal-center .list{
  padding:0 20px 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
.item{
  background-color: var(--white);
  display: grid;
  grid-template-columns: 30% auto;
  column-gap: 20px;
  border-radius: 20px;
}
.item .img img{
  height:100%;
  object-fit: cover;
}
.item .img{
  background-color: var(--light);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.item .content .title{
  font-weight: bold;
  font-family: Roboto;
}
.item .content .des{
  font-size: small;
  opacity: 0.7;
  margin-top:5px;
  font-family: Roboto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item .content .price{
  color:var(--orange);
  letter-spacing: 2px;
  font-weight: 500;
  font-size: small;
  margin-top:5px;
  font-family: Roboto;
}
/* .item .count{
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;
  padding:3px 5px;
  border:1px solid var(--light);
  outline: none;
  margin-top:5px;
  text-align: center;
} */
.item .content .add{
  margin-top:5px;
  background-color: var(--orange);
  color:var(--white);
  padding:5px 10px;
  border:none;
  border-radius: 10px;
}
.item .content .add:hover{
  background-color: var(--primary-orange);
  cursor: pointer;
}
.item .content .remove{
  padding:5px;
  border:none;
  margin-top:5px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.cart .item{
  transition: 0.5s;
  border-bottom: 1px solid var(--light);
}
.cart .name{
  padding:25px;
  height:40px;
  font-weight: bold;
  border-bottom:1px solid var(--light);
  color: var(--orange);
}
.danger{
  box-shadow: 0 10px 10px var(--orange);
  transform: translate(0,-10px);
}
.cart .add{
  display: none;
}
.cart .remove{
  display: inline-block!important;
}
/* end cart  */








/* home-slider  */

.home-slider_container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-main {
  display: flex;
  position: relative;
  
  transition: transform 0.25s linear;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.home-slider_items{
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
  
}

.home-slider_img{
  transition: 1s linear;
}

.home-slider_des{
  margin-left: 60px;
}

.home-slider_des span{
  color: #f5a623;
  font-size: 57.55px;
  font-weight: 600;
  line-height: 63.305px;
  text-align: left;
  text-shadow: #5a5a5a 1px 1px 3px;
  position: absolute;
  top: 80%;
}
 /* end slider home  */








/* slogan  */
.slogan-container{
  padding: 50px 0px 100px;
  display: flex;
  justify-content: space-between;
}
.slogan-wrapper_content{
  padding: 0px 45px;
}
.slogan-content{
  padding: 0px 55px 0px 0px;
}
.slogan-heading_subtitle{
  color: #f58223;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;  
  padding:5px 0px 0px;
  text-align: left;
  text-transform: capitalize;
}

.slogan-heading_title{
  color: #417505;
  font-family: Roboto;
  font-size: 43.6822px;
  font-weight: 300;
  line-height: 52.4187px;
  padding: 0px 0px 10px;
  text-align: left;
}

.slogan-des{
  color: #4a4a4a;
  font-family: Roboto;
  line-height: 32px;
  margin: 0px 0px 45px;
  text-align: justify;
}

.slogan-button a{
  background-color: #f58223;
  border-color:#f58223;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  color:#ffffff;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
}

.slogan-image {
  padding: 0px 45px;

}




/* outstanding  */
.outstanding{
    padding: 100px 0px;
    background: url("//theme.hstatic.net/200000492415/1000859563/14/bgourclass.jpg?v=637") no-repeat;
    background-size: cover;
}
.outstanding-heading{
  position: relative;
}
.outstanding-heading__title{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.outstanding-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #fff;
  width: 4rem;
  height: 2px;
  margin-top: 1rem;
}

.outstanding-list{
  display: flex;
  margin: 1rem 0px;
  justify-content: space-around;
  padding: 0px 3rem;
}
.outstanding-item{
  flex-basis: 22.5%;
  border-radius: 8px;
  overflow: hidden;
}
.outstanding-item__title{
  padding: 20px 0px;
  text-align: center;
}
.outstanding-item__title-color1{
  background: #CBF400;
}
.outstanding-item__title-color2{
  background: #21F2D9;
}
.outstanding-item__title-color3{
  background: #a025ed;
}
.outstanding-item__title-color4{
  background: #d8006b;
}
.oustanding-item__title-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}


/* experience */
.experience{
  padding: 20px 0px;
}
.experience-heading{
  margin-top: 1rem;
}
.experience-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #F58223;
  width: 4rem;
  height: 2px;
  margin-top: 1rem;
}
.experience-heading__title{
  font-weight: 300;
  font-size: 3rem;
  color: #417505;
  text-align: center;
}

.experience-list{
  margin-top: 2rem;
  padding: 0px 2.5rem;
  display: flex;
  justify-content: space-around;
}
.experience-item{
  background: #fff;
  padding: 51px 84px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
  flex-basis: 22.5%;
  transition: .2s;
}

.experience-item__title{
  font-size: 24px;
  font-weight: 600;
  color: #417505;
  padding-top: 43px;
  text-align: center;
  transition: .2s;
  
}


.experience-item:hover{
  background-color: #fd7e14;
  /* transition: 0.3s ease-in; */
  color: white;
}











/* video and comment from parent  */
.home-video{
  text-align: center;
  margin: 30px;
  padding: 0px;
 }
.home-video iframe{
  width: 1400px;
  height: 900px; 
  /* width: 1520px; */
 }


/* phan cua minh fix sap xong  */
.comment-container{
  max-width: 1530px;
  /* min-height: 80vh; */
  /* display: grid;
  grid-template-columns: 40% 40%; */
  color: #4a4a4a;
  line-height: 22.4px;
  padding:20px 0px;
  text-align: left;
}
.comment-box{
  display: flex;
  /* justify-content: space-around; */
  /* flex-basis: 40% 40%; */
  /* display: grid;
  grid-template-columns: auto auto; */
  color: #4a4a4a;
  line-height: 22.4px;
  margin: 0px 44px;
  padding: 0px 15px ;
  text-align: left;
}
.comment-wrap{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  /* width: 700px; */
  width: 720px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(204, 204, 204);
  border: 1px;
  padding: 41px 30px;
  margin: 0 30px;
  min-height: 80vh;
}
.comment-wrap:hover{
  transition: .2s;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transform: translateY(-15px);
}

.comment-wrap-content{
  color:#4a4a4a;
  line-height: 22.4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
  height: 100%;
}
.comment-parent{
  font-size: 50px;
  color: #717171;
  line-height: 32px;
  margin: 0px 0px 28px;
  text-align: justify;
  font-family: Roboto;
  /* overflow: hidden; */
  /* width: 520px;
  height: 420px; */

}
.comment-box_content{
  display: grid;
  grid-template-columns: 10% auto;
  grid-column: 20px;
  grid-row: 20px;
  /* width: 700px; */
  /* display: flex; */
}
.comment-box_img{
  width: 70px;
  height: 70px;
  /* border-radius: 50%; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.comment-box_img img{
  /* clip-path: circle(50px); */
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  /* height: 100%; */
}

.comment-parents{
  line-height: 32px;
  text-align: justify;
  margin: 0px 0px 28px;
}
.comment-parents i{
  font-size: 22px;
  color: var(--primary-orange);
}
.comment-name{
  color:#f58223;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  margin: 0px 0px 5px;
  text-align: left;
  text-transform: uppercase;
  /* padding: 10px 0;
  font-size: 16px;
  color: #717171;
  font-weight: 200; */
}
.comment-position{
  color:#999999;
  display: inline;
  font-size: 14px;
  line-height:  32px;
  margin: 4px 0px 0px;
  text-align: left;
  font-weight: 200;
}













 



 /* Phần của Tín  */
 .home__product {
  background-color: #f9f9f9;
  padding: 100px 0;
}

.home__product-item {
  background-color: #fff;
  border: 1px solid #f9f9f9;
  box-shadow: 0 2px 20px #ccc;
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px ;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-style: none;
  overflow: hidden;
  /* height: 550px; */
}

.home__product-info {
  padding: 4px 16px;
}

.home__product-photo {
  overflow: hidden;
  /* max-height: 80vh; */
  /* height: 600px; */
}

.home__product-photo > a {
  margin: 0;
  padding: 0;
  
}

.home__product-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* width: 100%; */
  transition: all 0.3s;
  /* height: 100%; */
  /* object-fit: cover; */
}

.home__product-img img {
  width: 100%;
  /* transition: all 0.3s; */
  height: 100%;
  object-fit: cover;
}


.home__product-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.home__product-heading {
  display: flex;
  margin-bottom: 16px;
}

.home__product-name {
  font-size: 14px;
  padding-top: 12px;
  color: #929296;
}

.home__product-name::after {
  content: '';
  width: 2px;
  height: 14px;
  margin-left: 12px;
  background-color: #929296;
  display: inline-block;
}

.home__product-day {
  font-size: 14px;
  padding-top: 12px;
  padding-left: 16px;
  color: #929296;
}

.home__product-body {
  margin-bottom: 20px;
}

.home__product-body-sub {
  font-size: 18px;
  line-height: 1.2;
}

.home__product-body-sub--text {
  color: #f5a623;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.home__product-body-desc {
  font-size: 14px;
  /* line-height: 1.4; */
  font-family: Roboto;
  text-align: justify;
  padding-top: 20px;
  color: #4a4a4a;
}

.home__product-btn {
  padding: 8px 12px;
  background-color: #fcf5f2;
}

.home__product-btn .btn{
   min-width: 120px;
    height: 42px;
    background-color: var(--primary-orange);
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    transition: 0.3s;

}

.home__product-btn .btn:hover{
  background-color: #e6e6e6;
}

.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grid.wide {
  max-width: 1520px;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.grid__full-width {
  width: 100%;
}

.grid-6-column {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

.grid-4-column {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}

.col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;  
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}




































/* form danh muc gio hang  */
.subcribe-top-img{
  position: relative;
  /* z-index: 1; */
}
/* .subcribe-top-img img{
  z-index: 1;
} */

.subcribe-top-wrapper{
  position: relative;
}

.subcribe-top-title > h2{
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
  padding: 0px 0px 10px;
  text-align: center;
  line-height: 1.2;
}

.subcribe-top-button{
  color:#4a4a4a;
  font-family: Roboto;
  line-height: 22.4px;
  margin: 0px 0px 16px;
  text-align: center;
}

.subcribe-top-button > a:hover {
  color: var(--white);
  background-color: var(--light);
  border-color: var(--light);
  transition: 0.3s;
}

.subcribe-top-button a{
  background-color: #ffffff;
  border-color: #f58223;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  color: #f58223;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  padding: 10px 28px;
  margin-top: 25px;
  text-align: center;
  text-transform:  uppercase;
  text-decoration: none;
}

.subcribe-top-wrap-absolute{
  margin: 0px auto;
  padding: 0px 80px;
  position: absolute;
  top: 100px;
  z-index: 1;
}


/* subcribe email cua diem ly   */
.subscribe{
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 333px;
    background-color:#F4A460 ;
    padding: 80px;
    align-items: center;
}
.subscribe .content{
    color: #fff;
    padding: 0 15px;
    max-width: 100%;
}
.subscribe h3{
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 45px;
}
.subscribe p{
    font-size: 1.6rem;
    margin-top: 15px;
}
.subscribe .email input{
    border: none;  
    border-radius: 30px 0px 0px 30px;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    font-weight: 500;
    width: 470px;
    height: 63px;
    appearance: none;
    padding-left: 15px;
}
.subscribe .email button{
    width: 167px;
    height: 65px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    transition: all 0.3s;
    background: #fff;
    border: 1px solid #f58223;
    font-weight: 500;
    text-transform: uppercase;
    color: #f58223;
    padding: 0px 20px;
    font-size: 15px;
}
.subscribe .email button:hover{
    background-color: #ebebeb;
}

.subscribe .email button > i {
    padding-left: 10px;
    font-size: 17px;
}



footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 50px 100px;
    
}
footer .container__footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container__footer .about{
    position: relative;
    width: 25%;
}
footer .container__footer .about img{
    width: 320px;
    height: 180px;
    max-width: 100%;
    position: relative;
    margin-bottom: 15px;
}
footer .container__footer li{
    list-style: none;
}
.about{
    margin-top: 20px;
    position: relative;
}
.about ul li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 15px;
}
.about ul li a{
    margin-bottom: 20px;
    width: 44px;
    height: 44px;
    display: inline-block;
    align-items: center;
    display:flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;

}
.about .icon_facebook{
    background: #3B5998;
    width: 44px;
    height: 44px;
    border-radius: 60%;
    
}
.about .icon_instagram{
    background: #C32AA3;
    width: 44px;
    height: 44px;
    border-radius: 60%;
}
.about .icon_youtube{
    background: #ff0000;
    width: 44px;
    height: 44px;
    border-radius: 60%;
}

.map_location > h2,
.instruction > h2,
.contact > h2 {
    position: relative;
    padding: 0px;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 700;
    color: #417505;
}

.map_location > h2::before,
.instruction > h2::before,
.contact > h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 3px;
    top: 35px;
    background: #f58223;
}
footer .container__footer .contact{
    width: 25%;
    padding-left: 20px;
    position: relative;
}
footer .container__footer .contact li i{
    color: #f58223;
    font-size: 20px;
    padding-right: 10px;
}
footer .container__footer .contact li{
    position: relative;
    display: inline-block;
    color: #504d4d;
    padding-bottom: 15px;
}
footer .instruction{
    position: relative;
    width: 25%;
    padding-left: 15px;
}

footer .container__footer .instruction li{
    padding-bottom: 10px;
}
footer .container__footer .instruction li a{
    position: relative;
    text-decoration: none;
    color: #504d4d;
    transition: 0.3s;
}
footer .container__footer .instruction li a:hover{
    color: #f58223;
}
footer .container__footer .map_location{
    position: relative;
}
.footer_bottom{
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: #3c297c;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.footer_bottom > p {
    font-size: 1.6rem;
}